<base-page-component>
    <template #content>
        @*<div class="ui placeholder segment">
            <div class="ui active inverted dimmer">
                <div class="ui indeterminate text loader">
                    <p>Downloading development hours</p>
                    <p>about 14 days and 2 hours left...</p>
                </div>
            </div>
        </div>*@
        <div class="ui warning icon message">
            <i class="exclamation triangle icon"></i>
            <div class="content">
                <div class="header">Attention theoretical customer personas!</div>
                <p>
                    Due to Brother Tillman taking an average of two years to write a blog post, we won't have many articles published in the next few months.
                    Please excuse the lack of messy content and ads while we work on our useful publications.
                </p>
            </div>
        </div>
        <div class="ui basic segment">
            <h4 class="ui header">Latest Blog Entries</h4>
            <div class="ui link cards">
                <a class="card" href="/blogs/vuedotnet/">
                    <div class="content">
                        <div class="ui centered header">Vue.Net framework development</div>
                    </div>
                    <div class="content">
                        <div class="ui segment">
                            <div class="ui two column stackable center aligned grid">
                                <div class="ui vertical divider">+</div>
                                <div class="middle aligned row">
                                    <div class="column">
                                        <div class="ui icon header">
                                            <i class="microsoft icon"></i>
                                            Asp.Net
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="ui icon header">
                                            <i class="vuejs icon"></i>
                                            Vue.js
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <p>I'm excited to introduce an easy way to develop single page applications in Asp.Net while using templating from an existing javascript UI framework... Vue.js</p>
                    </div>
                </a>
            </div>
        </div>
    </template>
</base-page-component>