@page
@model BrotherTillman.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<vue-application class="full-height">
    <base-page-component>
        <template #content>
            <div class="ui very padded basic segment">
                <div class="ui basic segment">
                    <h1 class="ui header">About Brother Tillman...</h1>
                    <p>I'm going to need you to be a little more specific. Ask me anything!</p>
                    <div class="ui fluid styled accordion">
                        <div class="title">
                            <i class="dropdown icon"></i>
                            What is your name?
                        </div>
                        <div class="content">
                            <p class="transition hidden">My name is <b>Jeremy Tillman.</b></p>
                         </div>
                        <div class="title">
                            <i class="dropdown icon"></i>
                            What degrees and certifications does Brother Tillman hold?
                        </div>
                        <div class="content">
                            <p class="transition hidden">
                                Degrees and certifications provide no information about a person's real-world talent.
                                I firmly oppose any person or organization who have a hard requirement on either when examining candidates.
                                That being said, I do have a B.S. in Computer Engineering from (<a href="https://engineering.purdue.edu/ECE" target="_blank">Boiler Up!</a>).
                            </p>
                        </div>
                        <div class="title">
                            <i class="dropdown icon"></i>
                            What is Brother Tillman's life goal?
                        </div>
                        <div class="content">
                            <p class="transition hidden">
                                My goal is to affect a positive change on the quality of life for all people (<a href="http://www.nsbe.org/About-Us/NSBE-Torch-Symbol.aspx" target="_blank">The NSBE Torch</a>).
                                Being an absolute nerd, I spend most of my time trying to affect change within products
                                and people in the software engineering realm.My goal is to affect a positive change on the quality of life for all people (The NSBE Torch). Being an absolute nerd, I spend most of my time trying to affect change within products and people in the software engineering realm.
                            </p>
                        </div>
                        <div class="title">
                            <i class="dropdown icon"></i>
                            What types of projects does Brother Tillman work on?
                        </div>
                        <div class="content">
                            <p class="transition hidden">
                                Typically, I spend time working on the most painful/troublesome parts of products. The places where we have become content with tedious, time-intensive tasks that cause product or customer errors.
                                I seek the pleasure of fixing problems at their fundemental level, which reliefs the stress of corner case bugs creeping into our daily lives. While this helps other developers focus more of their time on their customer, it makes these same developers my primary customer.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </base-page-component>
</vue-application>